{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calculator</title>
    <link rel="stylesheet" href="styles.css">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div>
        
        <center>
            <h1>Calculator</h1>
            <img src="{% static 'images/calci.avif' %}" alt="" height="110px" width="110px">
        </center>
    </div>
    
    <div id="box">
        <div id="display"></div>
        <div id="keyboard">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div class="black">+</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div class="black">-</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div class="black">*</div>
            <div class="red">C</div>
            <div>0</div>
            <div class="black">=</div>
            <div class="black">/</div>

        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/calci.js' %}"></script
</body>
</html>